# Don't track these files

# Latex files and packages 
*.aux
*.tex.aux
*.bbl
*.blg
*.brf
*.glo
*.idx
*.lof
*.log
*.lot
*.out
*.synctex.gz
*.toc
*.texput.log
ds_latex/ds_seminar.pdf

# Jupyter Notebook 
*.cpython-38.pyc
.ipynb_checkpoints/

#Folders
env/
Implementation/.idea/
ds_latex/
# Misc
*.~lock.*

