# Don't track these files

# Latex files and packages 
*.aux
*.tex.aux
*.bbl
*.blg
*.brf
*.glo
*.idx
*.lof
*.log
*.lot
*.out
*.synctex.gz
*.toc
*.texput.log
ds_latex/ds_seminar.pdf

# Jupyter Notebook 
*.cpython-38.pyc
ipynb_checkpoints/

#Misc
env/
Implementation/.ipynb_checkpoints/
# Now that the thesis is done, ds_latex/ will not be tracked anymore
ds_latex/ 
*.~lock.*
*.pt
