# Don't track these files

# Latex files and packages 
*.aux
*.tex.aux
*.bbl
*.blg
*.brf
*.glo
*.idx
*.lof
*.log
*.lot
*.out
*.synctex.gz
*.toc
*.texput.log

# Jupyter Notebook 
*.cpython-38.pyc

#Misc
venv/
Implementation/.ipynb_checkpoints/
ds_latex/ 
*.~lock.*
*.pt
